

BODY	{ 
          margin:5px 5px 5px 5px;
          color: #345;
	  font-family: sans-serif;
	}
        
TABLE   {
        font-size: 12px;
        line-height: 16px;
        }
p, H1 {  margin-left:20px; margin-right:10px; }

H1    { color: brown; }

.hidden { color: #0; font-size: 1px ; line-height: 0px; height: 1px; }
.hidden a:link, .hidden a:visited, .hidden a:hover { font-size: 0px ;color: #111; height: 0px; }


a:link{
color:#009999;
text-decoration:underline;
font-size: 14px;
}

#main {
        background-repeat: no-repeat;
        background-color: #efe; 
	border:1px solid #000; 
        font-family: Verdana,Helvetica; 
        font-size: 12px;
        line-height: 16px;
        text-align:left;
        }
#main #menu {
		border-left:2px solid #000; 
		border-right:2px solid #000; 
		border-bottom:2px solid #000;
		border-top:2px solid #000;
		float:left;
		width:150px;
		background-color:#efe;
        padding: 0px;
        margin:10px 10px 0px 0px;
    	}



