

BODY	{ 
          margin: 5px 7.5% 5px 7.5%; 
          color: #345;
	  font-family: sans-serif;
	}
        
TABLE   {
        margin: 5px 7.5% 5px 7.5%; 
        font-size: 12px;
        }

H1, H2    { color: blue; }

p  { line-height: 1.4em; }

.hidden { color: #0; font-size: 1px ; line-height: 0px; height: 1px; }
.hidden a:link, .hidden a:visited, .hidden a:hover { font-size: 0px ;color: #111; height: 0px; }


a:link{
color:#009999;
text-decoration:underline;
font-size: 16px;
}




